@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../../font/Roboto-Medium.ttf') format('turetype');
}

.loading_wrap {
  width: 100%;
  height: 98vh;
  /* background: rgba(0, 0, 0, 0.1); */
  background-color: rgb(241, 241, 241);

  opacity: 0.4;
}

.wrap {
  width: 100%;
  height: 98vh;
  background-color: rgb(241, 241, 241);
}

.link_wrap {
  padding-top: 100px;
}

.loading_area {
  width: 470px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  opacity: 0.8;
}

.area {
  width: 470px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}

.wrap_input {
  display: flex;
}

.home {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 70px;
  cursor: pointer;
}

.home img {
  width: 300px;
}

.buttonBox {
  margin-top: 20px;
}

.int_area {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.int_area input {
  width: 300px;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}

.int_area input:focus {
  border-bottom: 1px solid #f8bbd0;
}

.int_area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 16px;
  transition: top 0.5s ease;
}

.int_area label span {
  font-size: 12px;
  color: grey;
}

.int_area input:focus + label,
.int_area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #f8bbd0;
}

.social_login_wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invalid_input {
  color: #f36565;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 13px;
}

.loadingBox {
  position: absolute;
  top: 40%;
  left: 48.5%;
  z-index: 99;
  /* margin: 0 auto;
  margin-bottom: 20px;
  width: 400px; */
}

.google_login {
  width: 300px;
  height: 46px;
}

.GoogleLoginbutton {
  background-color: white;
  width: 300px;
  height: 46px;
  border: solid 1.4px #ededed;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  gap: 80px;
  padding: 0 0 0 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.googlelogo {
  align-items: left;
}

.googlefont {
  font-family: 'Roboto-Medium';
  text-align: center;
  font-size: 14px;
}
