.login-area {
  width: 320px;
  margin: 0 auto;
  margin-top: 70px;
}

.login-home {
  margin: 0 auto;
  margin-bottom: 70px;
  margin-left: 20px;
}

.login-home img {
  width: 300px;
}

.login-buttonBox {
  margin-top: 20px;
}
