header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .post_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .post_btn_left {
  width: 25%;
  justify-content: start;
}

header .post_btn_right {
  width: 25%;
  justify-content: end;
}
