body {
  margin: 0;
  padding: 0;
  width: 100;
}

.main {
  height: 1500px;
}

.title {
  margin-left: 5rem;
  font-size: 50px;
  font-weight: bolder;
}

.wrap_content {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}

.contents {
  list-style: none;
}
.button {
  size: 5rem;
  margin-left: 5rem;
}
