.main {
  width: 1200px;
  margin: 0 auto;
}

.input_wrap {
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 1000px;
}

.text_wrap {
  display: flex;
}

.input_box {
  padding: 8px;
}

.radio_box {
  padding: 10px;
}
