.PostButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
}

.PostButton_default {
  background-color: #f8bbd0;
  color: white;
}

.PostButton_positive {
  background-color: #64c964;
  color: white;
}

.PostButton_negative {
  background-color: #fd565f;
  color: white;
}
