.register-area {
  width: 320px;
  margin: 0 auto;
  margin-top: 70px;
}

.register-home {
  margin: 0 auto;
  margin-bottom: 70px;
  margin-left: 20px;
}

.register-home img {
  width: 300px;
}

.register-buttonBox {
  margin-top: 20px;
}

.button-content {
  position: relative;
  z-index: 1;
  color: white;
}
