.submit_btn {
  width: 300px;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  background-color: #222;
  padding: 13px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.submit_btn span {
  position: relative;
  z-index: 1;
}

.submit_btn:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 520%;
  width: 200%;
  background: #f8bbd0;

  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.submit_btn:hover:after {
  -webkit-transform: translateX(-43%) translateY(-15.5%) rotate(45deg);
  transform: translateX(-43%) translateY(-15.5%) rotate(45deg);
}
