.body {
  border-top: 2px solid #f8bbd0;
  color: black;
  position: absolute;
  width: 99%;
  bottom: 100;
  height: 150px;
  overflow-x: hidden;
  /* bottom: 0; */
}

.footer_div_left {
  float: left;
  border-right: 1px solid black;
  width: 49%;
  text-align: center;
}

.footer_div_right {
  float: right;
  position: relative;
  text-align: center;
  width: 50%;
  margin-top: 0;
  white-space: pre-wrap;
}
