@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

.body {
  width: 100%;
}

.MyPage_bodybox {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  width: 100%;
  height: 400px;
}

.MyPage_bodyleft {
  text-align: center;
  align-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
}

.Mypage_profileImgbox {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  overflow: hidden;
  float: right;
  margin-right: 30px;
}

.Mypage_profileImg {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.MyPage_bodyright {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 400px;
}

.Mypage_profilecontentsbox {
  height: 300px;
  padding-left: 2rem;
}

.Mypage_profilecontents {
  white-space: pre-wrap;
}
.Mypage_profilecontentsboxinner {
  display: flex;
}

.Mypage_profilecontentsboxinnerright {
  margin-right: 2rem;
}

.Mypage_buttonbox {
  display: flex;
  margin-top: 2rem;
  bottom: 0;
  height: 100px;
}

.MyPage_list {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: large;
  font-weight: bold;
  padding-bottom: 10rem;
}

.MyPage_list_title {
  padding-bottom: 5px;
}

.MyPage_footerbox {
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  bottom: 0;
}

.Mypage_hr {
  height: 2px;
  /* overflow: visible; */
  color: #999;
  position: relative;
  margin: 2em auto;
}
.Mypage_hr::before {
  content: '';
  background: linear-gradient(to right, transparent, currentColor, transparent);
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
}
.Mypage_hr[data-content] {
  text-align: center;
}
.Mypage_hr[data-content]::after {
  content: attr(data-content);
  position: relative;

  padding: 0 1.5rem;
  top: -0.475em;
  font-size: 3em;
  line-height: 1;
  font-family: serif;
  font-style: italic;
  color: currentColor;
}
