.List_Null_title {
  margin-left: 3rem;
  margin-top: 3rem;
}

.List_Null_comment {
  margin-top: 5rem;
  font-size: large;
  text-align: center;
}

.List_Null_buttonbox {
  padding-left: 45%;
  margin-top: 2rem;
}
