.Scrap_productbox {
  width: 960px;
  /* height: 100px; */
  display: flex;
  margin: 3rem auto;
  outline: #000 solid;
}

.Scrap_product_img {
  margin-top: 20px;
  max-width: 100px;
  max-height: 100px;
  margin-right: 16px;
}

.Scrap_product_infobox {
  width: 844px;
}

.Scrap_product_title {
  margin-top: 18px;
  margin-bottom: 21px;
  margin-left: 10px;
}

.Scrap_product_location {
  margin-left: 10px;
  font-size: small;
  color: #6c6c6c;
}

.Scrap_product_buttonbox {
  display: flex;
}

.Scrap_product_price {
  margin-left: 10px;
  flex: 1;
}

.Scrap_product_buybutton {
  margin-right: 25px;
  margin-bottom: 20px;
  width: 177px;
  height: 40px;
  background-color: #f8bbd0;
  border: 0;
  border-radius: 5px;
}
